<div class="columns">
  <% @videos.each do |video| %>
    <div class="image fit">
      <a href="/videos.html">
        <%=link_to(image_tag("http://i.ytimg.com/vi/#{video.url}/hqdefault.jpg"),"/videos/#{video.id}")  %>
      </a>
    </div>
  <% end %>
</div>
